table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 300px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

div.mat-elevation-z8 {
  width:800px;
  margin-left:auto;
  margin-right:auto;
}
